filt 400nm-650nm(blue) 650nm-1000nm(red) (equivalent à un filtre ?)
magnitude Mv=22.5 300 second exposure
exposuretime 15s~100s 300 second exposure
latitude Na
longitude Na
elevation Na
FOV_coverage  IFOV 0.77 arcsec
FOV 26 arcmin x 26 arcmin
FOV_coverage_type square
FOV_type square
tesselationFile ../input/PS1.tess
slew_rate 0,375
readout 2 (à voir)
